body {
    /*background-image: url("./textbooks.jpeg");*/
    /*background-size: 100%;*/
    background-color: rgb(20,20,20);
}

#content {
    margin: 10% 0 0 20%;
}

.main {
    font-size: 60px;
    font-weight: 700;
    color: white;
}

.text {
    font-size: 20px;
    font-weight: 200;
    color: white;
    border-right: .1em solid white;
    width: 29.2em;
    margin-top: 40px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 5s steps(100, end),
    blink-caret .3s step-end infinite alternate;
}

.btn-light {
    margin-right: 10px;
}

.bc {
    color: yellow;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

/*.text {*/
    /*font: bold 300% Consolas, Monaco, monospace;*/
    /*border-right: .1em solid black;*/
    width: 16.5em;
    width: 21ch;
    /*margin: 2em 1em;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*-webkit-animation: typing 1s steps(21, end),*/
    /*blink-caret .5s step-end infinite alternate;*/
/*}*/