body {
    /*background-image: url("./textbooks.jpeg");*/
    /*background-size: 100%;*/
    background-color: rgb(20,20,20);
}

#content {
    margin: 10% 0 0 20%;
}

.main {
    font-size: 60px;
    font-weight: 700;
    color: white;
}

.text {
    font-size: 20px;
    font-weight: 200;
    color: white;
    margin-top: 40px;
}

.btn-light {
    margin-right: 10px;
}

.bc {
    color: yellow;
}